@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400&display=swap');

body {
    margin: 0;
    background-color: #F2F3F7;
}
p {
  font-family: 'Inter', sans-serif
}
label {
  font-family: 'Inter', sans-serif
}
input {
  font-family: 'Inter', sans-serif
}
textarea {
  font-family: 'Inter', sans-serif
}
select {
  font-family: 'Inter', sans-serif
}
::-webkit-input-placeholder {
  font-family: 'Inter', sans-serif
}
::-moz-placeholder {
  font-family: 'Inter', sans-serif
}
:-ms-input-placeholder {
  font-family: 'Inter', sans-serif
}
:-moz-placeholder {
  font-family: 'Inter', sans-serif
}
.wholeBody {
  display: flex;
  height: 100vh;
}
.mainBody {
  width: 100%;
  overflow-y: scroll
}
.pictureInput {
  margin: 0 0 20px 0;
}
.multipleTextInput {
  margin: -15px 0 -15px 0;
}
.sideBarExpanded {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  min-width: 200px;
  background-color: #142843;
}
.sideBarCollapsed {
  display: flex;
  flex-direction: column;
  width: 80px;
  background-color: #142843;
}
.sideBarMobile {
  display: flex;
  flex-direction: column;
  width: 50px;
  background-color: #142843;
}
.sideBarTitle {
  height: 70px;
  border-bottom: 1px #EAEBEE solid;
}
.titleExpanded {
  margin: 15px 25px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 32px;
  font-weight: 100;
}
.titleCollapsed {
  margin: 15px 20px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 32px;
  font-weight: 100;
}
.titleMobile {
  margin: 15px 10px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 100;
}
.sideBarUser {
  display: flex;
  align-items: center;
  height: 170px;
  border-bottom: 1px #EAEBEE solid;
}
.currentUserPictureExpanded {
  width: 100px;
  height: 100px;
  margin: 35px 25px;
  border-radius: 50px;
}
.currentUserPictureCollapsed {
  width: 40px;
  height: 40px;
  margin: 35px 20px;
  border-radius: 50px;
}
.currentUserPictureMobile {
  width: 36px;
  height: 36px;
  margin: 35px 7px;
  border-radius: 36px;
}
.currentUserName {
  margin: 0 25px 0 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.sideBarPages {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #34495D;
}
.sideBarLink:first-child {
  margin: 40px 25px 20px 25px;
}
.sideBarLink {
  text-align: left;
  margin: 20px 25px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.sideBarLinkMobile:first-child {
  margin: 40px 13px 20px 13px;
}
.sideBarLinkMobile {
  text-align: left;
  margin: 20px 13px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.sideBarCollapse {
  color: white;
  position: absolute;
  right: 15px;
  bottom: 20px;
  cursor: pointer;
}
.headerPair {
  display: flex;
  align-items: center;
}
.toolbarLeft {
  display: flex;
  align-items: center;
  flex: 1;
}
.buttonBlue {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border: none;
  height: 35px;
  padding: 0 15px;
  color: white;
  width: fit-content;
  border-radius: 15px;
  background-color: #287AC9;
  cursor: pointer;
  text-decoration: none;
}
.buttonOrange {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border: none;
  height: 35px;
  padding: 0 15px;
  color: white;
  width: fit-content;
  border-radius: 15px;
  background-color: #F36543;
  cursor: pointer;
  text-decoration: none;
}
.userPageRows {
  display: flex;
  flex-wrap: wrap;
}
.displayCardsRow {
  display: flex;
  flex-wrap: wrap;
}
.detentionCardTitle {
  margin: 20px 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.detentionCardInfo {
  margin: 10px 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 200;
}
.notificationCardHeader {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
.notificationCardTitle {
  margin: 20px 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.notificationCardText {
  margin: 0 20px 20px 20px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.notificationCardInfo {
  margin: 20px 0 20px 20px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: black;
  font-weight: 200;
}
.homeworkCardClassInfo {
  margin: 20px 20px 20px auto;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 200;
}
.homeworkCardClassBox {
  flex: 1;
}
.testCardInfo {
  margin: 20px 20px 20px auto;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 200;
}
.testCardBox {
  flex: 1;
}
.notificationCardClassInfo {
  margin: 20px 20px 20px auto;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 200;
}
.notificationCardClassBox {
  flex: 1;
}
.formSubmit {
  margin: 15px 0 0 0;
}
.select {
  padding: 7px;
  border-radius: 5px;
  width: 150px;
}
.searchInput {
  padding: 0 15px;
  width: 275px;
  border-radius: 5px;
  height: 35px;
  border: 1px #767676 solid;
  outline-style: none;
}
.searchPair {
  display: flex;
  align-items: center;
}
.userPicture {
  width: 250px;
  height: 250px;
  margin: 0 25px 0 0;
}
.userName {
  font-size: 18px;
  font-weight: 400;
}
.userEmail {
  font-size: 16px;
  font-weight: 300;
}
.classInfo {
  display: flex;
}
.classInfoItem {
  margin: 25px 25px 0 0;
  font-family: 'Inter', sans-serif;
  color: #2b2b2b;
  text-decoration: none;
}
.detentionCardClassBox {
  flex: 1;
}
.noteCardInfo {
  margin: 20px 20px 20px auto;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 200;
}
.noteCardBox {
  flex: 1;
}
.messageCard {
  height: 50px;
  width: fit-content;
  min-width: 100px;
  background-color: white;
  border-radius: 15px;
  padding: 0 20px;
  position: fixed;
  margin: 0 0 25px 0;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
.messageCardText {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.finished {
  padding: 25px 0 25px 0;
  width: fit-content;
  min-width: fit-content;
  position: relative;
  margin: 0 auto;
  bottom: 0;
}
.form {
  display: flex;
  flex-direction: column;
}
.middleBody {
  position: fixed;
  left: 50%;
  bottom: 35%;
  transform: translate(-50%, -35%);
}
.download {
  font-family: 'Inter', sans-serif;
  color: #287AC9;
}

@media screen and (min-width: 1201px) {
  .innerBody {
    margin: 0 25px 25px 25px;
  }
  .toolbar {
    position: sticky;
    top: 71px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #FBFBFB;
    border-bottom: 1px #EAEBEE solid;
  }
  .header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: white;
    border-bottom: 1px #EAEBEE solid;
  }
  .headerLocation {
    margin: 0 25px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #2B2B2B;
    font-weight: 500;
  }
  .headerPath {
    margin: 0 25px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #2B2B2B;
    font-weight: 300;
    text-decoration: none;
  }
  .homeworkCardInfo {
    min-width: 125px;
    margin: 0 25px;
    flex: 1;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 200;
  }
  .homeworkCardTitle {
    margin: 0 25px;
    flex: 5;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .toolbarItem {
    display: flex;
    align-items: center;
    margin: 0 0 0 25px;
  }
  .homeworkCard {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
    margin: 25px 0;
    height: fit-content;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
  }
  .notificationCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .detentionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .classCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .homeworkTitle {
    margin: 25px 0 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
  }
  .homeworkDate {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1200px) {
  .innerBody {
    margin: 0 15px 15px 15px;
  }
  .toolbar {
    position: sticky;
    overflow: auto;
    white-space: nowrap;
    top: 71px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #FBFBFB;
    border-bottom: 1px #EAEBEE solid;
  }
  .header {
    position: sticky;
    top: 0;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: white;
    border-bottom: 1px #EAEBEE solid;
  }
  .headerLocation {
    margin: 0 15px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #2B2B2B;
    font-weight: 500;
  }
  .headerPath {
    margin: 0 15px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #2B2B2B;
    font-weight: 300;
    text-decoration: none;
  }
  .homeworkCardTitle {
    margin: 0 15px;
    min-width: 150px;
    flex: 5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .toolbarItem {
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
  }
  .homeworkCard {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
    margin: 15px 0;
    height: fit-content;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
  }
  .notificationCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: fit-content;
    margin: 15px 15px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .detentionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 15px 15px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .classCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: fit-content;
    margin: 15px 15px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .homeworkTitle {
    margin: 15px 0 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .homeworkDate {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (min-width: 801px) {
  .checkboxLabel {
    margin: 0 0 0 7px;
  }
  .pageTitle {
    margin: 25px 0 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .homeworkCardLink {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    color: #2b2b2b;
    border-radius: 15px 0 0 15px;
    text-decoration: none;
  }
  .homeworkCardBox {
    display: flex;
    align-items: center;
  }
  .homeworkCardButton {
    margin: 0 25px 0 50px;
  }
  .homeworkCardInfo:nth-child(2) {
    text-align: center;
  }
  .homeworkCardInfo:nth-child(3) {
    text-align: center;
  }
  .homeworkCardInfo:last-child {
    text-align: end;
  }
  .classCardTitle {
    margin: 20px 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .addButton {
    margin: 25px 0 0 0;
  }
  .settingsPicture {
    margin: 25px 0 0 0;
    width: 250px;
    height: 250px;
  }
  .textInput {
    margin: 25px 0 15px 0;
    padding: 0 15px;
    width: 220px;
    border-radius: 15px;
    height: 40px;
    border: none;
    outline-style: none;
  }
  .textAreaInput {
    margin: 25px 0 15px 0;
    padding: 10px 15px;
    width: 450px;
    border-radius: 15px;
    height: fit-content;
    border: none;
    outline-style: none;
    resize: none;
  }
  .cardPair {
    display: flex;
    align-items: center;
  }
  .userBox {
    display: flex;
    margin: 25px 0 0 0;
  }
  .userInfo {
    margin: -15px 0 0 0;
  }
  .loginBody {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    padding: 25px 0 50px 0;
    background-color: #142843;
    border-radius: 20px;
  }
  .loginForm {
    margin: 0 auto;
  }
  .homeworkCardClass {
    display: flex;
    align-items: center;
    width: 600px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .homeworkCardClassTitle {
    margin: 20px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .testCard {
    display: flex;
    align-items: center;
    width: 600px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .testCardTitle {
    margin: 20px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .notificationCardClass {
    display: flex;
    align-items: center;
    width: 600px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .notificationCardClassTitle {
    margin: 20px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .userCard {
    display: flex;
    align-items: center;
    width: 350px;
    height: 110px;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .userCardTitle {
    margin: 20px 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .userCardPicture {
    margin: 0 20px 0 20px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
  .noteCard {
    display: flex;
    align-items: center;
    width: 600px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .noteCardTitle {
    margin: 20px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .detentionCardClass {
    display: flex;
    align-items: center;
    width: 600px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .detentionCardClassTitle {
    margin: 20px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .detentionCardClassInfo {
    margin: 20px 20px 20px auto;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 200;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .homeworkCardInfo {
    min-width: 125px;
    margin: 0 -10px;
    flex: 1;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 200;
  }
}

@media screen and (max-width: 800px) {
  .checkboxLabel {
    margin: 0 0 0 7px;
    font-size: 12px;
  }
  .pageTitle {
    margin: 15px 0 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .homeworkCardLink {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    margin: 10px 0;
    height: fit-content;
    color: #2b2b2b;
    border-radius: 15px 0 0 15px;
    text-decoration: none;
  }
  .homeworkCardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 0 0;
  }
  .homeworkCardButton {
    margin: 0 25px 0 25px;
  }
  .homeworkCardInfo {
    min-width: 125px;
    margin: 0 0 3px 15px;
    flex: 1;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 200;
  }
  .classCardTitle {
    margin: 20px 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .userCardTitle {
    margin: 20px 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .addButton {
    margin: 15px 0 0 0;
  }
  .settingsPicture {
    margin: 15px 0 0 0;
    width: 200px;
    height: 200px;
  }
  .textInput {
    margin: 25px 0 15px 0;
    padding: 0 15px;
    width: 200px;
    border-radius: 15px;
    height: 40px;
    border: none;
    outline-style: none;
  }
  .textAreaInput {
    margin: 25px 0 15px 0;
    padding: 10px 15px;
    width: 200px;
    border-radius: 15px;
    height: fit-content;
    border: none;
    outline-style: none;
    resize: none;
  }
  .cardPair {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .userBox {
    margin: 15px 0 0 0;
  }
  .userInfo {
    margin: 0 0 25px 0;
  }
  .loginBody {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    height: fit-content;
    padding: 15px 0 40px 0;
    background-color: #142843;
    border-radius: 20px;
  }
  .loginForm {
    margin: 0 auto;
    padding: 0 15px;
  }
  .homeworkCardClass {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .homeworkCardClassTitle {
    margin: 20px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .testCard {
    display: flex;
    align-items: center;
    width: 600px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .testCardTitle {
    margin: 20px 15px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .notificationCardClass {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .notificationCardClassTitle {
    margin: 20px 15px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .userCard {
    display: flex;
    align-items: center;
    min-width: 275px;
    height: 110px;
    margin: 15px 15px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .userCardTitle {
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .userCardPicture {
    margin: 0 15px 0 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  .noteCard {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .noteCardTitle {
    margin: 20px 15px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .detentionCardClass {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    margin: 25px 25px 0 0;
    color: #2b2b2b;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
  }
  .detentionCardClassTitle {
    margin: 15px 15px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .detentionCardClassInfo {
    margin: 20px 20px 20px auto;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 200;
  }
}

